body{
    text-align:center;
    font-family: 'Lobster', cursive;
    color: #fff;
    background-color: #000066;
}
h1{
    font-size: 40px;
}

.container{
    width: 600px;
    text-align: center; 
    margin: 0px auto;   
    height: auto;
    margin: 0 auto;   
    padding: 20px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 15px;
    box-shadow: -10px 10px 20px rgba(100,100,100,.8);
    color: #191970;
}
.quote{
    font-size: 26px;
    color: #000;

}


.author{
    color: #000;
    font-size: 19px;
    font-family: cursive;

}
.button{
    margin: 30px;
    font-family: 'Lobster', cursive;
    color: #000;
    height: 50px;
    width:100px;
    font-size: 15px;
    border-radius:15px;
}

