@import url(https://fonts.googleapis.com/css?family=Bad+Script);

body{
    text-align:center;
    font-family: 'Bad Script', cursive;
    background: url(https://static.pexels.com/photos/5833/nature-grass-green-book.jpg) no-repeat;
    background-size :cover;
}

h1{
    font-size: 45px;
    color: #4099FF;
}

.container{
    width: 650px;
    margin: 0px auto;   
    height: auto;
    margin: 0px auto;   
    padding: 10px;
    background-color: rgba(255,255,255,0.7);
    border-radius: 5px;
    box-shadow: 7px 7px 10px rgba(100,100,100,.8);
}
.quote{
    font-size: 26px;

}


.author{
    font-size: 19px;
    font-family: 'Bad Script', cursive;
    font-weight: bold;
    margin-top: 15px;
}
.button{
    margin: 40px;
    font-family: 'Bad Script', cursive;
    width:120px;
    font-size: 18px;
    border-radius:7px;
    background-color: rgba(255,255,255,.8);
}

.tweet{
  background-color: #4099FF;
  color: #fff;
  border-color: #4099FF;
}

.newQuote{
  background-color: #FF3300;
  color: #fff;
  border-color: #FF3300;
}